<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>reminder</key>
		<false/>
		<key>username</key>
		<string>Amy</string>
		<key>password</key>
		<string>123</string>
	</dict>
	<dict>
		<key>username</key>
		<string>Sam</string>
		<key>password</key>
		<string>456</string>
	</dict>
</array>
</plist>
